import { ComponentFixture, TestBed } from '@angular/core/testing';

import { {{entity.name}}DetailComponent } from './{{entity.name|lower}}-detail.component';

describe('{{entity.name}}DetailComponent', () => {
  let component: {{entity.name}}DetailComponent;
  let fixture: ComponentFixture<{{entity.name}}DetailComponent>;

  beforeEach(async () => {
    await TestBed.configureTestingModule({
      declarations: [ {{entity.name}}DetailComponent ]
    })
    .compileComponents();
  });

  beforeEach(() => {
    fixture = TestBed.createComponent({{entity.name}}DetailComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});