import { Component } from '@angular/core';

@Component({
	selector: 'app-{{entity.name|lower}}-detail',
	templateUrl: './{{entity.name|lower}}-detail.component.html',
	styleUrls: ['./{{entity.name|lower}}-detail.component.css'],
})

export class {{entity.name}}DetailComponent {
	
    constructor(){}
}