<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{{app_name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
            <a class="nav-link text-medium" ngbDropdownToggle id="dropdownBasic1" role="button"
                    aria-expanded="false"> Entities
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
                {% for entity in entities %}
                    <a ngbDropdownItem href="#">{{entity.name|plural}}</a>
                {% endfor %}
            </div>
        </li>
      </ul>
    </div>
</nav>