spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.url= jdbc:postgresql://localhost:5432/{{app}}
spring.datasource.initialization-mode=always
spring.datasource.platform=postgres
spring.datasource.username=postgres
spring.datasource.password=ftn
spring.jpa.hibernate.ddl-auto = create-drop
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQL95Dialect