package com.example.{{ app }}.repository;

//import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import com.example.{{ app }}.model.{{ obj.name }};
import java.util.List;

@Repository
public interface {{ obj.name | capitalize }}Repository {

    {{obj.name}} find{{obj.name}}ById(Long id);
    List<{{obj.name}}> findAll();
}
