{% set entity_name = entity.name | lower %}
{% set entity_name_plural = entity.name | plural | lower %}


<br>
<div class="row">
    <div class="col">
        <h4 style="text-align:center;">{{entity.name|plural}}</h4>
    </div>
    <div class="col"  style="text-align:center;">
        <button type="button" class="btn btn-success" [routerLink]="['/{{ entity_name }}/create']">Add new {{ entity_name }}</button>
    </div>
</div>
<br>
<table class="table" style="width:90%; margin:auto" *ngIf="{{ entity_name_plural }}?.length != 0">
    <tr>
    {% for property in properties%}
        <th scope="col"> {{property.name|format_property|capitalize}} </th>
    {% endfor %}
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    </tr>
    <tr *ngFor="let {{entity_name}} of {{ entity_name_plural }} | paginate: { itemsPerPage: elementsPerPage, currentPage: page, totalItems: totalLength }; let i = index" >
        {% for property in properties%}
        {% set prop = '{{ ' + (entity.name|lower)+'.'+(property.name|first_letter_lower) + ' }}' %}
        <td scope="row" [routerLink]="['/{{ entity_name }}', {{ entity_name }}.id]"> {{prop}} </td>
        {% endfor %}
        <td style="width: 20%;">
            <button type="button" class="btn btn-warning" [routerLink]="['/{{ entity_name }}', {{ entity_name }}.id, 'update']">Update {{ entity_name }}</button>
        </td>
        <td style="width: 20%;">
            <button type="button" class="btn btn-danger" (click)="idToDelete={{entity_name}}.id;open(mymodal)">Delete {{ entity_name }}</button>
        </td>
    </tr>
</table>
<div class="container" *ngIf="{{entity.name|plural|lower}}?.length != 0">
  <br>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
        Elements per page:
    </div>
    <div class="col col-md-1">
        <select class="custom-select" [(ngModel)]="elementsPerPage" (ngModelChange)="onChange($event)" name="sel2">
            {% set option = '{{ i }}' %}
            <option [value]="i" *ngFor="let i of options">{{option}}</option>
        </select>
    </div>
    <div class="col-md-auto">
      <pagination-controls (pageChange)="page = $event; changePage(page)"></pagination-controls>
    </div>
  </div>
</div>
<div *ngIf="{{entity.name|plural|lower}}?.length == 0" class="alert alert-warning" role="alert" style="text-align:center;">
  There are no {{ entity_name_plural }} added!
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h5 class="text-danger">Are you sure that you want to delete {{entity_name}}?</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="delete{{entity.name}}(idToDelete);modal.dismiss('Cross click')">Delete</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Cancel</button>
  </div>
</ng-template>