{% for property in entity.properties %}
{% if property | get_property_type != 'base' %}
import { {{ property | get_correct_type }} } from './{{ property.ptype.name | lower }}.model';
{% endif %}
{% endfor %}

export interface I{{ entity.name }} {
    {% for property in entity.properties %}
    {% if property | get_property_type == 'base' %}
    {{ property.name }}: {{ property | get_correct_type }};
    {% elif property | get_property_type == 'list' %}
    {{ property.name }}: {{ property | get_correct_type }}[];
    {% else %}
    {{ property.name }}: {{ property | get_correct_type }};
    {% endif %}
    {% endfor %}
}
