{% for property in entity | get_unique_properties %}
import { I{{ property }} } from 'src/app/shared/model/{{property | lower}}.model';
{% endfor %}

export interface I{{ entity.name }} {
    {% for property in entity.properties %}
    {% if property | get_property_type == 'base' %}
    {{ property.name }}: {{ property | get_correct_type }};
    {% elif property | get_property_type == 'list' %}
    {{ property.name }}: {{ property | get_correct_type }}[];
    {% else %}
    {{ property.name }}: {{ property | get_correct_type }};
    {% endif %}
    {% endfor %}
}
