import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';

import { {{ entity.name }}Component } from './{{ entity.name | lower }}/{{ entity.name | lower }}.component';
import { {{ entity.name }}ListComponent } from './{{ entity.name | lower }}-list/{{ entity.name | lower }}-list.component';
import { {{ entity.name }}FormComponent } from './{{ entity.name | lower }}-form/{{ entity.name | lower }}-form.component';

const routes: Routes = [
  { path: ':id', component: {{ entity.name }}Component },
  { path: '', component: {{ entity.name }}ListComponent },
  { path: ':id/update', component: {{ entity.name }}FormComponent }
];

@NgModule({
  imports: [RouterModule.forChild(routes)],
  exports: [RouterModule]
})

export class {{ entity.name }}RoutingModule { }
