import { HttpClient } from '@angular/common/http';
import { Injectable } from '@angular/core';
import { environment } from 'src/environments/environment';

import { I{{entity.name}} } from 'src/app/shared/model/{{entity.name|lower}}.model';

@Injectable({
  providedIn: 'root'
})
export class {{entity.name}}Service {
 
  constructor(private http: HttpClient) { }

  get{{entity.name|plural}}(){
    return this.http.get<I{{entity.name}}>(environment.api + '/{{entity.name|lower}}/get-all-{{entity.name|plural|lower}}');
  }

  get{{entity.name}}({{entity.name|lower}}Id: number) {
    return this.http.get<I{{entity.name}}>(environment.api + '/{{entity.name|lower}}/get-{{entity.name|lower}}/' + {{entity.name|lower}}Id);
  }

  update{{entity.name}}({{entity.name|lower}}Id: number, {{entity.name|lower}}: I{{entity.name}}) {
    return this.http.put(environment.api + '/{{entity.name|lower}}/update/' + {{entity.name|lower}}Id, {{entity.name|lower}});
  }
  
  create{{entity.name}}({{entity.name|lower}}: I{{entity.name}}) {
    return this.http.post(environment.api + '/{{entity.name|lower}}/create', {{entity.name|lower}});
  }

  delete{{entity.name}}({{entity.name|lower}}Id: number) {
    return this.http.delete(environment.api + '/{{entity.name|lower}}/delete/' + {{entity.name|lower}}Id);
  }

}