import { NgModule } from '@angular/core';

import { {{entity.name}}ListComponent } from './{{entity.name|lower}}-list/{{entity.name|lower}}-list.component';
import { {{entity.name}}Component } from './{{entity.name|lower}}/{{entity.name|lower}}.component';
import { {{entity.name}}FormComponent } from './{{entity.name|lower}}-form/{{entity.name|lower}}-form.component';

@NgModule({
  imports: [],
  declarations: 
    [
        {{entity.name}}ListComponent,
        {{entity.name}}Component,
        {{entity.name}}FormComponent,
    ],
  providers: []
})
export class {{entity.name}}Module {}
