package com.example.{{ app }}.service;

import org.springframework.stereotype.Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;

import com.example.{{ app }}.dto.{{entity.name}}DTO;
import com.example.{{ app }}.model.{{entity.name}};
import com.example.{{ app }}.repository.{{ entity.name | capitalize }}Repository;
{% for property in entity.properties %}
{% if (property | is_base_type)==False %}
import com.example.{{ app }}.model.{{property.type}};
{% endif %}
{% endfor %}

import java.util.List;

@Service
public class {{entity.name}}Service {
    @Autowired
    private {{ entity.name | capitalize }}Repository {{entity.name | lower}}Repository;

    public ResponseEntity<List<{{ entity.name }}DTO>> get{{entity.name|plural}}(){
        return new ResponseEntity<>(HttpStatus.OK); 
    }

    public ResponseEntity<{{ entity.name }}DTO> get{{entity.name}}(Long id){
        return new ResponseEntity<>(HttpStatus.OK); 
    }

    public ResponseEntity<{{ entity.name }}DTO> update{{entity.name}}(Long id, {{entity.name}}DTO {{entity.name|lower}}){
        return new ResponseEntity<>(HttpStatus.OK); 
    }

    public ResponseEntity<{{ entity.name }}DTO> create({{entity.name}}DTO {{entity.name|lower}}Dto){
        {{entity.name}} {{entity.name | lower}} = new {{entity.name}}();
    {% for property in entity.properties %}
    {% if (property | is_base_type) %}
        {{entity.name | lower}}.set{{property.name | capitalize_first_letter}}({{entity.name|lower}}Dto.get{{property.name | capitalize_first_letter}}());
    {% else %}
        {{entity.name | lower}}.set{{property.name | capitalize_first_letter}}(null);
	{% endif %}
    {% endfor %}
        {{entity.name | lower}}Repository.save({{entity.name | lower}});
        return new ResponseEntity<>(HttpStatus.OK); 
    }

    public ResponseEntity<?> delete{{entity.name}}(Long id){
        return new ResponseEntity<>(HttpStatus.OK); 
    }
}