package com.example.{{ app }}.service;

import org.springframework.stereotype.Service;

import com.example.{{ app }}.dto.{{obj.name}}DTO;

import java.util.List;

@Service
public class {{obj.name}}Service {
    // here should be added repository

    // here should be added constructor

    public List<{{obj.name}}DTO> get{{obj.name|plural}}(){
        return null; 
    }

    public {{obj.name}}DTO get{{obj.name}}(int id){
        return null;
    }

    public {{obj.name}}DTO update{{obj.name}}(int id, {{obj.name}}DTO {{obj.name|lower}}){
        return null;
    }

    public void create({{obj.name}}DTO {{obj.name|lower}}){

    }

    public void delete{{obj.name}}({{obj.name}}DTO {{obj.name|lower}}){

    }
}
