import { Component } from '@angular/core';
{% set entity_name = entity.name | lower %}
@Component({
	selector: 'app-{{entity_name}}',
	templateUrl: './{{entity_name}}.component.html',
	styleUrls: ['./{{entity_name}}.component.css'],
})

export class {{entity.name}}Component {
	
    constructor(){}
}
