import { Component } from '@angular/core';

@Component({
	selector: 'app-{{entity.name|lower}}',
	templateUrl: './{{entity.name|lower}}.component.html',
	styleUrls: ['./{{entity.name|lower}}.component.css'],
})

export class {{entity.name}}Component {
	
    constructor(){}
}
