package com.example.{{ app }}.model;

import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.Setter;
{% for property in obj.properties %}
{% if type(property.type) == type(obj) %}
import com.example.{{ app }}.model.{{ property.type }};
{% endif %}
{% endfor %}

@Getter @Setter
@NoArgsConstructor
@AllArgsConstructor
public class {{ obj.name | capitalize }} {
    {% for property in obj.properties %}
    private {{ property | get_correct_type_for_model }} {{ property.name }};
    {% endfor %}
}
