package com.example.{{ app }}.model;

import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.Setter;
{% for property in entity.properties %}
{% if property | get_type != 'base' %}
import com.example.{{ app }}.model.{{ property.type }};
{% endif %}
{% endfor %}
import javax.persistence.*;

@Getter @Setter
@NoArgsConstructor
@AllArgsConstructor
@Entity
public class {{ entity.name | capitalize }} {

    {% for property in entity.properties %}
    {% if property | get_type != 'base' %}
    @OneToOne
    private {{ property.type.name }} {{ property.name }};
    {% elif property.name == 'id' %}
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private {{ property.type}} {{ property.name }};
    {% else %}
    @Column
    private {{ property.type}} {{ property.name }};
    {% endif %}

    {% endfor %}
}
