{% set entity_name = entity.name | lower %}
import { Component } from '@angular/core';
import { ActivatedRoute, Router } from '@angular/router';
import { {{ entity.name }}Service } from '../{{ entity_name }}.service';
import { I{{ entity.name }} } from 'src/app/shared/model/{{ entity_name }}.model';

@Component({
	selector: 'app-{{entity_name}}',
	templateUrl: './{{entity_name}}.component.html',
	styleUrls: ['./{{entity_name}}.component.css'],
})

export class {{entity.name}}Component {
    obj: I{{ entity.name }}|undefined;

    constructor(private {{entity_name}}Service: {{ entity.name }}Service,
                private activatedRoute: ActivatedRoute, private router: Router){}

    ngOnInit(): void {
        this.activatedRoute.paramMap.subscribe(params => {
            let param = params.get('id');
            if (param == null) {
                this.router.navigate(['/{{ entity_name }}']);
            }
            this.{{ entity_name }}Service.get{{ entity.name }}(parseInt(param!)).subscribe(
                data => this.obj = data,
                error => console.error(error)
            );
        });
    }

    delete(){
        if(this.obj != undefined){
            this.{{entity_name}}Service.delete{{entity_name|capitalize}}(this.obj.id).subscribe(
			data =>{
				alert("{{entity.name}} has been successfully deleted!");
			},
			error => {
				alert("Something went wrong while deleting {{entity_name}}!");
			});

            let path = '/{{entity_name}}';

            this.router.navigateByUrl('', { skipLocationChange: true }).then(() => {
                this.router.navigate([path]);
            });
        }
        else{
            alert("Something went wrong while deleting {{entity_name}}!");
        }
		
	}

}
