package com.example.{{ app }}.dto;

import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.Getter;
import lombok.Setter;
{% for property in obj.properties %}
{% if type(property.type) == type(obj) %}
import com.example.{{ app }}.dto.{{ property.type }}DTO;
{% endif %}
{% endfor %}

@Getter @Setter
@NoArgsConstructor
@AllArgsConstructor
public class {{ obj.name | capitalize }}DTO {
    {% for property in obj.properties %}
    private {{ property | get_correct_type }} {{ property.name }};
    {% endfor %}
}
