package com.example.{{ app }}.dto;

import lombok.AllArgsConstructor;
import lombok.Data;

@Data
@AllArgsConstructor
public class UserTokenStateDTO {
    private String  accessToken;
    private Integer expiresIn;
    private String refreshToken;
}