import { Component } from '@angular/core';
{% set entity_name = entity.name | lower %}
@Component({
	selector: 'app-{{entity_name}}-form',
	templateUrl: './{{entity_name}}-form.component.html',
	styleUrls: ['./{{entity_name}}-form.component.css'],
})

export class {{entity.name}}FormComponent {
	
    constructor(){}
}
