{% set openBrackets = '{{' %}
{% set closeBrackets = '}}' %}
<div>
    <form [formGroup]="form">
    {% for property in entity.properties %}
    <br/>
    <label>{{property.name | capitalize}}</label>
{% if property | get_property_type == 'base' %}
    <br/>
    <input class="form-control" type="{{ property | get_form_input_type }}" formControlName={{property.name}}>
    <br/>
{% elif property | get_property_type == 'entity' %}
    <select class="form-control" formControlName={{property.name}}>
        <option *ngFor="let obj of selectLists.{{ property.name }}List" [value]="obj">
            {{openBrackets}}obj.id{{closeBrackets}}
        </option>
    </select>
{% else %}
    <select multiple class="form-control" formControlName={{property.name}}>
        <option *ngFor="let obj of selectLists.{{ property.name }}List" [value]="obj">
            {{openBrackets}}obj.id{{closeBrackets}}
        </option>
    </select>
{% endif %}    
{% endfor %}
    <input class="btn btn-primary" type="submit"
			[disabled]="form.invalid" (click)="Submit()" />
    </form>
</div>
