{% for property in entity.properties %}
{% if type(property) == type(entity) %}
import {{ property | get_correct_type }} from './{{ property | lower }}.model';
{% endif %}
{% endfor %}

export interface I{{ entity.name }} {
    {% for property in entity.properties %}
    {{ property.name }}: {{ property | get_correct_type }};
    {% endfor %}
}
