import { NgModule } from '@angular/core';
import { FormsModule, ReactiveFormsModule } from '@angular/forms';
import { CommonModule } from '@angular/common';
{% set entity_name = entity.name | lower %}
import { {{entity.name}}ListComponent } from './{{entity_name}}-list/{{entity_name}}-list.component';
import { {{entity.name}}Component } from './{{entity_name}}/{{entity_name}}.component';
import { {{entity.name}}FormComponent } from './{{entity_name}}-form/{{entity_name}}-form.component';
import { {{entity.name}}RoutingModule } from './{{  entity.name | lower}}-routing.module';
import { CommonModule } from '@angular/common';
import { NgxPaginationModule } from 'ngx-pagination';

@NgModule({
  imports: [
    FormsModule,
    ReactiveFormsModule,
    CommonModule,
    {{ entity.name }}RoutingModule,
    NgxPaginationModule,
    FormsModule     
  ],
  declarations: 
    [
        {{entity.name}}ListComponent,
        {{entity.name}}Component,
        {{entity.name}}FormComponent,
    ],
  providers: []
})
export class {{entity.name}}Module {}
