<p>This is {{entity.name}} list component! </p>
<table class="table">
    <tr>
    {% for property in properties%}
        <th scope="col"> {{property.name|format_property|capitalize}} </th>
    {% endfor %}
    </tr>
    <tr *ngFor="let {{entity.name|lower}} of {{entity.name|plural|lower}}; let i = index">
        {% for property in properties%}
        {% set prop = '{{ ' + (entity.name|lower)+'.'+(property.name|first_letter_lower) + ' }}' %}
        <td scope="row"> {{prop}} </td>
        {% endfor %}
    </tr>
</table>