import { Component } from '@angular/core';
{% set entity_name = entity.name | lower %}
@Component({
	selector: 'app-{{entity_name}}-list',
	templateUrl: './{{entity_name}}-list.component.html',
	styleUrls: ['./{{entity_name}}-list.component.css'],
})

export class {{entity.name}}ListComponent {
	
    constructor(){}
}
