import { Component } from '@angular/core';

@Component({
	selector: 'app-{{entity.name|lower}}-list',
	templateUrl: './{{entity.name|lower}}-list.component.html',
	styleUrls: ['./{{entity.name|lower}}-list.component.css'],
})

export class {{entity.name}}ListComponent {
	
    constructor(){}
}